html {
    font-family: 'arial', arial, sans, serif;
}

body {
	background-color: #fff;
    z-index: 99;
    height: 100vh;
    font-size: 14pt;
    margin: 0px;
}

hr.top {
    background-color: #00296b;
    margin-top: 0px;
    padding-top 5px;
}

h1 {
    align-self: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}

h3 {
    margin-top: 0px;
}

li {
    list-style-type: none;
}

hr {
    border: none;
    background-color: black;
    color: black;
    height: 2px;
}

.logo {
	width: 65px;
	height: 62px;
    float: left;
    display: block;
    align-self: center;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 5px;
}

.hat {
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
    margin-bottom: 0px;
    
    background-color: #00296b;
}

.menu {
    border-right-color: darkgray;
    border-right-width: 2px;
    border-right-style: solid;
    display: inline-block;
    width: 20%;
    height: inherit;
}
ul.nomarker {
    padding-left: 10px;
}

.text {
    position: relative;
    vertical-align: top;
    width: 79%;
    display: inline-block;
    margin-left: 0.5%;
}

.other {
    display: flex;
    flex-direction: row;
    height: auto;
}

.bottom {
    text-align: center;
}